
html {
	font: 100%/1.4 system-ui, sans-serif;
	background-color: #ccc;
	hyphens: auto;
}

body { margin: 0; }

svg.icon {
	display: inline-block;
	width: 0.85em;
	height: 0.85em;
	padding: 0.15em;
	vertical-align: text-bottom;

	&.mana {
		background-color: #ccc;
		border-radius: 100%;
	}

	&.mana.green { background-color: rgb(196 211 202); }
	&.mana.blue { background-color: rgb(179 206 234); }
	&.mana.black { background-color: rgb(166 159 157); }
	&.mana.red { background-color: rgb(235 159 130); }
	&.mana.white { background-color: rgb(248 231 185); }
	&.mana.colorless { background-color: rgb(204 194 192); }
}

.container {
	background-color: #fff;
	padding: 0.5rem;
	margin: 2rem auto 6rem;
	width: min(95%, 50%);
	min-height: 50vh;
}

.language-select button {
	appearance: none;
	color: #bbb;
	font-size: 100%;
	border: 0;
	background: 0;

	&.selected {
		color: #000;
	}
}

.definitions {

	dt {
		font-weight: 700;
	}

	dd {
		margin-inline: 0;
		margin-block-end: 0.5lh;
	}
}

.keywords-list {

	dt {
		display: inline;
		font-weight: 700;
	}

	dt::before { /* https://stackoverflow.com/a/41146673/3625228 */
		content: "\A";
		white-space: pre-wrap;
		display: block;
		height: 0.5em;
	}

	dd {
		display: inline;
		margin-inline: 0;
		margin-block-end: 0.5lh;
	}
}

html[lang="en"] {
	div[lang="en"] { display: block; }
	span[lang="en"] { display: inline; }
	*[lang="de"] { display: none; }
}

html[lang="de"] {
	div[lang="de"] { display: block; }
	span[lang="de"] { display: inline; }
	*[lang="en"] { display: none; }
}
